/.vs/ornico-services-core/DesignTimeBuild

src/common/ornico-common.dtos/obj/

src/core/ornico-core.services/obj/

src/core/ornico-core.model/obj/

src/core/ornico-core.repository/obj/

src/core/ornico-core.contracts/obj/

src/core/ornico-core.api/obj/

src/common/ornico-common.infrastructure/obj/

.vs/

src/core/ornico-core.services/bin/

src/core/ornico-core.repository/bin/

src/core/ornico-core.model/bin/

src/core/ornico-core.contracts/bin/

src/core/ornico-core.api/bin/

src/common/ornico-common.dtos/bin/Debug/

src/auth/

src/test/ornico-test.FunctionalTests/bin/

src/test/ornico-test.FunctionalTests/obj/
